.experience-section {
  padding: 40px 0;
}

.experience-section__title {
  font-size: 36px;
  margin-bottom: 20px;
}

.experience-section__subtitle {
  font-size: 1.5em;
}

.experience-section__experience-card-container {
}

.experience-section__experience-card-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  margin-top: 20px;
}

@media (width >=576px) {
  .experience-section__experience-card-list {
  }
}

@media (width >=768px) {
  .experience-section__title {
    font-size: 44px;
  }
}

@media (width >=992px) {
    .experience-section__title {
    font-size: 48px;
  }

  .experience-section__experience-card-list {
  }
}

@media (width >=1200px) {
  .experience-section__title {
    font-size: 52px;
  }
}

@media (width >=1440px) {
  .experience-section__title {
    font-size: 56px;
  }
}

