.projects-section__project-card {
  position: relative;
  background-color: #05193714;
  border: 1px solid #a8eb12;
  border-radius: calc(var(--radius) + 4px);
  padding: 20px;
  width: 300px;
  height: 295px;
}

.projects-section__project-card-image {
  max-width: 100%;
}

.projects-section__project-card-title {
  font-size: 26px;
}

.projects-section__project-card-subtitle {
  font-size: 1em;
}

.projects-section__project-card-link-container {
  position: absolute;
  right: 10px;
  bottom: 5px;
  display: flex;
  align-items: center;
  width: 77px;
  gap: 5px;
  background-color: #a8eb12;
  padding: 10px;
  border-radius: calc(var(--radius) - 2px);
  margin-top: 20px;
}

.projects-section__project-card-link-container:hover {
  background-color: #aeff00;
}

.projects-section__project-card-link {
  text-decoration: none;
  color: var(--main-text-color);
}

@media (width >=576px) {
  .projects-section__project-card {
    width: 450px;
    height: 360px;
  }
}

@media (width >=992px) {
  .projects-section__project-card {
    width: 100%;
    height: 330px;
  }
}

