.projects-section__project-card {
  
}

.projects-section__project-card-image {
  
}

.projects-section__project-card-title {
  
}

.projects-section__project-card-subtitle {
  
}

.projects-section__project-card-link {
  
}
