.project-card__project-card-image {
  max-width: 100%;
}

.project-card__project-card-title {
  font-size: 26px;
}

.project-card__project-card-subtitle {
  font-size: 1em;
}

.project-card__project-card-link-container {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  width: 77px;
  gap: 5px;
  background-color: var(--button);
  padding: 10px;
  border-radius: calc(var(--radius) - 2px);
}

.project-card__project-card-link-container:hover {
  background-color: var(--secondary-text-color);
}

.project-card__project-card-link {
  text-decoration: none;
  color: #010813;
}
