.experience-section__experience-card {
  position: relative;
  background-color: #05193714;
  border: 1px solid #a8eb12;
  border-radius: calc(var(--radius) + 4px);
  padding: 20px;
}

.experience-section__experience-card:hover {
  box-shadow: 0px 10px 52px 15px rgba(168, 235, 18, 0.2);
}

.experience-section__experience-card-container {}

.experience-section__experience-card-text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experience-section__experience-card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.experience-section__experience-card-period {}

.experience-section__experience-card-title {
  font-size: 20px;
}

.experience-section__experience-card-subtitle {
  font-size: 1em;
}


@media (width >=576px) {
  .experience-section__experience-card {}
}

@media (width >=992px) {
  .experience-section__experience-card {
    max-width: 700px;
  }
}
