.experience-section__experience-card-container {}

.experience-section__experience-card-text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experience-section__experience-card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.experience-section__experience-card-period {}

.experience-section__experience-card-title {
  font-size: 20px;
}

.experience-section__experience-card-subtitle {
  font-size: 1em;
}
