.experience-card__text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experience-card__period-and-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.experience-card__title {
  font-size: 20px;
}

.experience-card__subtitle {
  font-size: 1em;
}
