.skills-section {
  padding: 40px 0;
}

.skills-section__title {
  font-size: 36px;
}

.skills-section__subtitle {
  font-size: 1.5em;
}

.skills-section__skill-card-container {
  margin-top: 20px;
}

.skills-section__skill-card-list {
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  list-style: none;
}

.skills-section__skill-card--gradient-border {
  border: 1px solid var(--border);
  border-radius: 8px;
}

@media (width >=768px) {
  .skills-section__title {
    font-size: 44px;
  }
}

@media (width >=992px) {
  .skills-section__title {
    font-size: 48px;
  }
}

@media (width >=1200px) {
  .skills-section__title {
    font-size: 52px;
  }
}

@media (width >=1440px) {
  .skills-section__title {
    font-size: 56px;
  }
}
