.skills-section__skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px;
  filter: grayscale(1);
  transition: box-shadow ease-in-out 200ms, filter ease-in-out 200ms;
}

.skills-section__skill-card:hover {
  box-shadow: 0px 10px 52px 15px rgba(168, 235, 18, 0.2);
  filter: grayscale(0);
}

.skills-section__skill-card-image {
  width: 40px;
  height: 40px;
}

.skills-section__skill-card-name {
  font-size: 15px;
}
