.skill-card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px;
  filter: grayscale(1);
  transition: box-shadow ease-in-out 200ms, filter ease-in-out 200ms;
}

.skill-card__container:hover {
  box-shadow: 0px 10px 52px 15px var(--shadow);
  filter: grayscale(0);
}

.skill-card__image {
  width: 40px;
  height: 40px;
}

.skill-card__title {
  font-size: 15px;
}
