@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  /* --main-background-color: #511038; */
  --main-background-color: #17042b;
  --secondary-background-color: linear-gradient(90deg, #f5ffe0,#41EF29);
  /* --main-text-color: #b7ff00; */
  /* --main-text-color: #41EF29; */
  --main-text-color: #f5ffe0;
  --secondary-text-color: #f5ffe0;
  --radius: .625rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  background-color: var(--main-background-color);
  height: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  color: var(--main-text-color);
}

.wrapper {
  margin: auto;
  width: 300px;
}

@media (width >=576px) {
  .wrapper {
    width: 546px;
  }
}

@media (width >=768px) {
  .wrapper {
    width: 650px;
  }
}

@media (width >=992px) {
  .wrapper {
    width: 800px;
  }
}

@media (width >=1200px) {
  .wrapper {
    width: 900px;
  }
}

@media (width >=1440px) {
  .wrapper {
    width: 1200px;
  }
}
