.footer-section {
  padding: 20px 0;
  background-color: #000;
  box-shadow: 0px -2px 20px 6px var(--shadow);
}

.footer-section__item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.footer-section__subtitle {
  font-size: 15px;
  text-align: left;
}

.footer-section__text-emphasis {
  background: var(--secondary-background-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-section__contact-logo-container {
  display: flex;
  gap: 15px;
}

.footer-section__contact-logo-tg {
  background-image: url(../assets/telegram.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 20px;
  height: 20px;
}

.footer-section__contact-logo-gh {
  background-image: url(../assets/github.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 20px;
  height: 20px;
}

.footer-section__contact-logo-tg:hover,
.footer-section__contact-logo-gh:hover {
  box-shadow: 0px 10px 52px 15px var(--shadow);
}

@media (width >=576px) {
  .footer-section__item-container {
    flex-direction: row;
  }
}
