.hero-section {
  background-color: var(--main-background-color);
  padding: 40px 0;
}

.hero-section__title {
  font-size: 36px;
  text-align: left;
}

.hero-section__subtitle {
  font-size: 1.5em;
  text-align: left;
}

.hero-section__text-emphasis {
  background: var(--secondary-background-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-section__contact-logo-container {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.hero-section__contact-logo-tg {
  background-image: url(../assets/telegram.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 40px;
  height: 40px;
}

.hero-section__contact-logo-gh {
  background-image: url(../assets/gh-contact.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 40px;
  height: 40px;

}

.hero-section__contact-logo-tg:hover,
.hero-section__contact-logo-gh:hover {
  box-shadow: 0px 10px 52px 15px rgba(168, 235, 18, 0.2);
}

@media (width >=576px) {
  .hero-section__title {
    font-size: 40px;
  }
}

@media (width >=768px) {
  .hero-section__title {
    font-size: 44px;
  }
}

@media (width >=992px) {
  .hero-section__title {
    font-size: 48px;
  }
}

@media (width >=1200px) {
  .hero-section__title {
    font-size: 52px;
  }
}

@media (width >=1440px) {
  .hero-section__title {
    font-size: 56px;
  }
}
