.projects-section {
  background-color: var(--main-background-color);
  padding: 40px 0;
}

.projects-section__title {
  font-size: 36px;
}

.projects-section__subtitle {
  font-size: 1.5em;
}

.projects-section__project-card-container {
  margin-top: 20px;
}

.projects-section__project-card-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (width >=768px) {
  .projects-section__title {
    font-size: 44px;
  }
}

@media (width >=992px) {
  .projects-section__title {
    font-size: 48px;
  }

.projects-section__project-card-list {
  flex-direction: row;
}
}

@media (width >=1200px) {
  .projects-section__title {
    font-size: 52px;
  }
}

@media (width >=1440px) {
  .projects-section__title {
    font-size: 56px;
  }
}
