.projects-section {
  padding: 40px 0;
}

.projects-section__title {
  font-size: 36px;
}

.projects-section__subtitle {
  font-size: 1.5em;
}

.projects-section__skill-card-container {
  margin-top: 20px;
}

/* .projects-section__skill-card-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  list-style-type: none;
} */

@media (width >=576px) {
  /* .projects-section__skill-card-list {
    flex-direction: row;
    flex-wrap: wrap;
  } */
}

@media (width >=768px) {
  .projects-section__title {
    font-size: 44px;
  }
}

@media (width >=992px) {
    .projects-section__title {
    font-size: 48px;
  }

  .projects-section__skill-card-list {
    flex-wrap: nowrap;
  }
}

@media (width >=1200px) {
  .projects-section__title {
    font-size: 52px;
  }
}

@media (width >=1440px) {
  .projects-section__title {
    font-size: 56px;
  }
}

