.projects-section {
  padding: 40px 0;
}

.projects-section__project-card {
  position: relative;
  border: 1px solid var(--border);
  border-radius: calc(var(--radius) + 4px);
  padding: 20px;
}

.projects-section__project-card:hover {
  box-shadow: 0px 10px 52px 15px var(--shadow);
}

.projects-section__title {
  font-size: 36px;
}

.projects-section__subtitle {
  font-size: 1.5em;
}

.projects-section__project-card-container {
  margin-top: 20px;
}


@media (width >=768px) {
  .projects-section__title {
    font-size: 44px;
  }
}

@media (width >=992px) {
  .projects-section__title {
    font-size: 48px;
  }

  .projects-section__project-card-list {
    flex-direction: row;
  }
}

@media (width >=1200px) {
  .projects-section__title {
    font-size: 52px;
  }
}

@media (width >=1440px) {
  .projects-section__title {
    font-size: 56px;
  }
}

.projects-section__project-card-list {
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  list-style: none;
}

@media (width >=768px) {
  .projects-section__project-card-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
